.resultButton {
  background-color: #12263a;
  border-radius: 8px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5) !important;
  width: 13.5rem !important;
}

.resultButton p {
  color: white;
}

.resultButton:disabled {
  color: white !important;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  width: 13.5rem;
}

.resultButton:disabled p {
  color: white;
}
