@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&family=Roboto:wght@300&display=swap");

/*GENERAL*/
body,
html {
  display: flex;
  justify-content: center;
  background-color: #f1faff;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 80px; /* Skjuter ner innehållet så det inte hamnar bakom headern */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque";
  font-weight: 600;
  color: #12263a;
}

p,
a {
  font-family: "Roboto";
  font-weight: 300;
  color: #12263a;
}

/*NO SPEND WEEK-PAGE*/

.no-spend-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  width: 19.5rem;
  margin-bottom: 3rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19.5rem;
  height: 32rem;
  margin-bottom: 5rem;
  gap: 16px;
}
