@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&family=Roboto:wght@300&display=swap");

/*GENERAL*/

body,
html {
  width: 100%;
  box-sizing: border-box; /* Hindrar padding från att öka bredden */
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1faff;
  margin: 0;
  padding: 0;
}

.background-ellipse {
  position: absolute;
  top: 18%;
  left: 45%;
  width: 23.73813rem;
  height: 23.73813rem;
  background: linear-gradient(180deg, #ff8400 39.82%, #ff0000 100%);
  box-shadow: 0px 0px 250px 75px #fff inset;
  filter: blur(45px);
  transform: rotate(16.759deg);
  flex-shrink: 0;
  border-radius: 23.73813rem;
  z-index: 1;
}

.background-ellipse2 {
  position: absolute;
  top: 52%;
  left: 35%;
  width: 23.73813rem;
  height: 23.73813rem;
  background: linear-gradient(180deg, #ff8400 39.82%, #ff0000 100%);
  box-shadow: 0px 0px 250px 75px #fff inset;
  filter: blur(45px);
  transform: rotate(16.759deg);
  flex-shrink: 0;
  border-radius: 23.73813rem;
  z-index: 0.5;
}

@media (max-width: 1440px) {
  .background-ellipse {
    top: 15%;
    left: 42%;
  }

  .background-ellipse2 {
    top: 55%;
    left: 30%;
  }
}

@media (max-width: 1024px) {
  .background-ellipse {
    top: 18%;
    left: 37%;
    box-shadow: 0px 0px 200px 80px #fff inset;
  }

  .background-ellipse2 {
    top: 50%;
    left: 25%;
    box-shadow: 0px 0px 200px 80px #fff inset;
  }
}

@media (max-width: 700px) {
  .background-ellipse {
    top: 20%;
    left: 20%;
    width: 16rem;
    height: 16rem;
    box-shadow: 0px 0px 125px 37.5px #fff inset;
  }

  .background-ellipse2 {
    top: 55%;
    left: 15%;
    width: 16.5rem;
    height: 16.5rem;
    box-shadow: 0px 0px 125px 37.5px #fff inset;
  }
}

main {
  padding-top: 9rem; /* Skjuter ner innehållet så det inte hamnar bakom headern */
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque";
  font-weight: 600;
  color: #12263a;
  text-align: center;
}

p,
a {
  font-family: "Roboto";
  font-weight: 300;
  color: #12263a;
}
