.myResult {
  margin-bottom: 50px;
}

.sliderWrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem 0;
  height: 70vh;
}

.slide {
  display: flex;
  justify-content: center;
  gap: 1rem;
  max-width: none !important;
}

.weekCard {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem 1rem 1.5rem 1rem;
  background-color: #fffdf6;
  border-radius: 12px;
  box-shadow: 0px 4px 6px 0px rgba(255, 132, 0, 0.25);
}

.card {
  border-radius: 8px;
  padding: 1rem;
  flex: 1;
  text-align: center;
}

.daysCompleted {
  font-weight: bold;
  margin: 0.5rem 0;
}

.weekNumber {
  margin-bottom: 0;
}
