.sliderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem 0;
  height: 70vh;
}

.myResult {
  margin-bottom: 0;
}

.description {
  max-width: 300px;
  text-align: center;
  margin-bottom: 2rem;
}

.bold {
  font-weight: bold;
}

.noHistoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 300px;
  padding: 2rem;
  background-color: rgba(255, 253, 246, 0.5);
  border-radius: 12px !important;
  box-shadow: 0px 4px 6px 0px rgba(255, 132, 0, 0.25) !important;
  box-sizing: border-box;
}

.sliderContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.slides {
  width: auto;
}

.slide {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border: none !important;
}

.weekCard {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
  padding: 2rem 1rem 1.5rem 1rem;
  background-color: rgba(255, 253, 246, 0.5);
  border-radius: 12px !important;
  box-shadow: 0px 4px 6px 0px rgba(255, 132, 0, 0.25) !important;
  box-sizing: border-box;
}

.card {
  padding: 1rem;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrera innehåll horisontellt */
  min-width: 0; /* Förhindra overflow */
}

.daysCompleted {
  font-weight: bold;
  margin: 0.5rem 0;
}

.weekNumber {
  margin-bottom: 0;
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
}

.arrowButton:hover {
  transform: scale(1.05);
}

/* Mobiljusteringar */
@media (max-width: 768px) {
  .sliderWrapper {
    align-items: center;
  }

  .sliderContainer {
    width: 100%;
    max-width: 100%; /* Ta upp hela bredden */
  }

  /* Centrera slidern och begränsa bredden */
  .slides {
    width: 100%;
    max-width: 224px; /* Justera efter dina kort */
    margin: 0 auto; /* Centrera horisontellt */
  }
}