.monthlyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 32rem;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

h2 {
    font-size: 1.5rem;
    width: 20rem;
}