/* Grundläggande styling */
.navbar {
  display: flex;
  position: absolute;
  left: 3rem;
  width: auto; /* Låter navbaren justera sin bredd beroende på innehållet */
}

/* Desktop-nav */
.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  color: #12263A;
  text-decoration: none;
  padding: 1rem;
  border-radius: 2px;
}

.nav-links li a:hover {
  background-color: #12263A;
  color: white;
}

.nav-links li a.active {
  background-color: #12263A;
  color: white;
}

/* Mobil-nav (gömd som standard) */
.nav-mobile {
  display: none;
}

.hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  color: #12263A;
  cursor: pointer;
}

/* Mobile menu (gömd som standard) */
.mobile-menu {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #F1FAFF;
  padding: 1rem;
  margin: 0;
  transform: translateX(-100%); /* Startar utanför skärmen */
  transition: transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden; /* Dölj menyn visuellt men behåll den i DOM */
}

.mobile-menu a {
  text-decoration: none; /* Tar bort understrykning */
  padding: 1rem; /* Lägg till padding för att göra länkarna klickbara */
  display: block; /* Gör länkarna block-element för att lättare hantera klick */
  border-radius: 5px; /* Lägger till rundade hörn om du vill */
}

.mobile-menu a.active {
  background-color: #12263A;
  color: white;
}

.mobile-menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0); /* När menyn är öppen, flyttas den till synlig position */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

/* Media Query: Visa hamburgermeny på små skärmar */
@media (max-width: 1000px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
